* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    font-family: 'Lato', sans-serif;
}

/*------------------------------------------------ COVER NAME ------------------------------------------------*/

.cover--name{
    background: black;
    height: 100vh;
    width: 100%;
}

.contact{
    height: 20vh;
    
    padding-right: 2rem;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}

.contact a{
    color: white;
    font-size: 1.3rem;
}

.name--description{
    height: 60vh;
    width: 100%;

    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.name{
    text-align: center;
    border-bottom: solid 2px white;
}
.name h1{
    font-size: 3rem;
}

.content--descrition{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titles{
    text-align: center;
}
.titles h2{
    padding-bottom: 0.8rem;
}

.description{
    display: none;
}

.links{
    margin-top: 1rem;
}

.links a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding-right: 1.3rem;
    padding-left: 1.3rem;
}

/*------------------------------------------------ COVER JOBS ------------------------------------------------*/

.cover--jobs{
    background: darkgray;
    width: 100%;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform:translateY(-10vh);
    gap: 2rem;
}

.card{
    box-shadow: 2px 2px 20px black;
}

.card img{
    width: 320px;
    height: 180px;
}

/*------------------------------------------------ TOOLS ------------------------------------------------*/

.tools{
    padding-top: 20px;
    text-align: center;
    background: #48D1CC;
}

.tools h2{
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.tool{
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-items: center;
}
.tool img{
    width: 130px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/*------------------------------------------------ FOOTER ------------------------------------------------*/

footer{
    background: darkgray;
}

.madeby{
    padding-top: 1rem;
    font-size: 1.3rem;
    padding-bottom: 1rem;
    text-align: center;
}

.madeby a{
    color: black;
    text-decoration: none;
}

/*------------------------------------------------ PHONE_CARD/EMAIL ------------------------------------------------*/

.black{
    background: rgba(0, 0, 0, 0.712);
    backdrop-filter: blur(0.5rem);
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 2;
    display: none;
}

.phone--card, .email--card{
    background: rgba(116, 110, 110, 0.733);
    backdrop-filter: blur(0.5rem);

    position: fixed;
    
    top:33.33vh;
    left: 5vw;
    
    height: 33.33vh;
    width: 90%;

    border-radius: 10px;
    display: none;
    align-content: center;
    justify-content: center;
    z-index: 3;
}

.phone--card--content, .email--card--content{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.phone--card--content h3{
    font-size: 2.5rem;
}
.email--card--content h3{
    font-size: 2.2rem;
}

.button--card, .button--card--email{
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(0.5rem);
    width: 150px;
    font-size: 2rem;
    text-align: center;
    border-radius: 10px;
    padding: 0.5rem 0rem;
    cursor: pointer;
}


/*------------------------------------------------ MEDIA ------------------------------------------------*/

@media (min-width: 900px){

    /*- COVER NAME -- MEDIA -*/
    .name--description{
        flex-direction: row;
    }
    .content--descrition{
        max-width: 300px;
        align-items: flex-start;
    }
    .titles{
        text-align: left;
        padding-bottom: 0.8rem;
    }
    .titles h2{
        font-size: 1.2rem;
        padding-bottom: 0.3rem;
    }
    .description{
        display: block;
    }
    .description h3{
       font-size: 1rem;
    }
    
    .links{
        margin-top: 1rem;
    }
    
    .links a{
        color: white;
        text-decoration: none;
        font-size: 1.3rem;
        padding-left: 0rem;
    }

    /*- COVER JOBS -- MEDIA -*/
    .cards{
        display: grid;
        grid-template-columns: repeat(2,auto);
        justify-items: center;
        margin-right: 2rem;
        margin-left: 2rem;
    }
    .card img{
        width: 40vw;
        height: 40vh;
    }

    /*- TOOLS -- MEDIA -*/
    .tool{
        grid-template-columns: repeat(4,auto);
    }


    .phone--card{
        top:33.33vh;
        left: 33.33vw;
        height: 33.33vh;
        width: 33.33vw;
    }
    .button--card{
        width: 11.11vw;
    }
}