* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    color: white;
}

.location, .temperature{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temperature{
    flex-direction: column;
}

.temperature--degree--container{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.temperature--degree--container h2{
    font-size: 40px;
}

.temperature--degree--container span{
    margin: 10px;
    font-size: 30px;
}

.no--place{
    display: none;
}

.autor{
    font-size: 1rem;
    padding-top: 30vh;
}

.autor a{
    color: white;
    text-decoration: none;
}

/*--------------------------------------------------- MORE ---------------------------------------------------------------*/


/*.more--button{
    background: linear-gradient(
        to right bottom, 
        rgba(255,255,255,0.7), 
        rgba(255,255,255,0.3)
    );
    backdrop-filter: blur(1.5rem);
    margin-top: 3rem;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
}*/

/*--------------------------------------------------- EXPAND ---------------------------------------------------------------*/

.expand{

    font-family: sans-serif;
    color: white;
    
    background: linear-gradient(
        to right bottom, 
        rgba(255,255,255,0.7), 
        rgba(255,255,255,0.3)
    );
    backdrop-filter: blur(1.5rem);
    
    width: 100%;
    
}

.expand--day{
    padding: 1rem 0.5rem 0.5rem 1rem;
}

.expand--day h6{
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

/*--------------------------------------------------- MOBILE ---------------------------------------------------------------*/

@media(max-width: 850px){
    .location{
        flex-direction: column-reverse;
    }
}
